
.title{
    margin-top: 20px;   
}

.logo_img{
    margin-bottom: 10px;
    width: 10%;
    height: 10%;
    -ms-interpolation-mode: nearest-neighbor; /* ie */
    image-rendering: crisp-edges; /* ff */
    image-rendering: pixelated; /* chrome */
}

body{
  background-color: #e7dfd5;

}





.btn-gray {
    color: #fff;
    background-color: #3b6978;
    border-color: #3b6978;
    box-shadow: none; }
    .btn-danger:hover {
      color: #fff;
      background-color: #204051;
      border-color: #204051; }
    .btn-danger:focus, .btn-danger.focus {
      box-shadow: none, 0 0 0 0.2rem rgba(246, 95, 84, 0.5); }
    .btn-danger.disabled, .btn-danger:disabled {
      color: #fff;
      background-color: #3b6978;
      border-color: #3b6978; }
    .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
    .show > .btn-danger.dropdown-toggle {
      color: #fff;
      background-color: #204051;
      border-color: #204051; }
      .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
      .show > .btn-danger.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(246, 95, 84, 0.5); }


.social_footer_ul { display:table; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:rgb(0, 0, 0); border:1px solid rgb(0, 0, 0); padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
