@font-face{
  font-family: "vcr";
  src: url(../assets/VCR_OSD_MONO.ttf);
}

:root {
  --primary: #7D929E;
}

body{
  background-color: var(--primary);
  color: #fff;
  font-size: 20px;
  font-family: "vcr", Arial, Helvetica, sans-serif;
  text-transform: uppercase;

}

h1, h2,h3,h4,h5{
  color:#39475c;
}

.compile code{
  text-transform: none;
}

footer{
  font-size: 14px;
}

.material-icons{
  margin-left: 5px;
  margin-top: -5px;
  text-align: center;
  vertical-align: middle;
}

a{
  color:#3b6978;
}



  /* menu nav */

nav {
  
  background: #fff;
  color: #3b6978;
}

#nav_img{
  margin-right: 10px;
  border-radius: 10%;
}

#nav_img:hover{
  box-shadow: 0 20px 40px -5px rgba(9,30,66,.3);
  transform: translateY(5px);
}

nav .menuItems {
  list-style: none;
  display: flex;
}
nav .menuItems li {
  margin: 50px;
}
nav .menuItems li a {
  text-decoration: none;
  color: #3b6978;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
nav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  position: absolute;
  color: #3b6978;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
nav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #3b6978;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
ul li a:hover {
  color: #95a5a6;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-nav .nav-link{
  font-size: 20px;
}

  /* introduccion */

.header-1{
  margin-top: 50px;
}

.pixelate{
  /* margin-top: 10px;
  margin-bottom: 10px;
  width: 10%;
  height: 10%;
  border-radius: 10%; */
  -ms-interpolation-mode: nearest-neighbor; /* ie */
  image-rendering: crisp-edges; /* ff */
  image-rendering: pixelated; /* chrome */
}

.logo_img{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10%;
  height: 10%;
  border-radius: 10%;
  -ms-interpolation-mode: nearest-neighbor; /* ie */
  image-rendering: crisp-edges; /* ff */
  image-rendering: pixelated; /* chrome */
}

.logo_img:hover{
  box-shadow: 0 20px 40px -5px rgba(9,30,66,.3);
  transform: translateY(5px);
}


  /* Downloads */

.downloads{
  color:#000
}

.btn-gray {
  color: #fff;
  background-color: #3b6978;
  border-color: #3b6978;
  box-shadow: none; 
  font-size: 1.3rem;}
  .btn-danger:hover {
    color: #fff;
    background-color: #204051;
    border-color: #204051; }
  .btn-danger:focus, .btn-danger.focus {
    box-shadow: none, 0 0 0 0.2rem rgba(246, 95, 84, 0.5); }
  .btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #3b6978;
    border-color: #3b6978; }
  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
  .show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #204051;
    border-color: #204051; }
    .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
    .show > .btn-danger.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(246, 95, 84, 0.5); }


.icons-dowloads{
  color: var(--primary);  
  }

#repo{
  width: 65%;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-copy{
  color: #fff;
  background-color: #3b6978;
  border-color: #3b6978;
  font-size: small;
}




  /* Footer */

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.code{
  color: #fff;
  background-color: #39475c;
  padding: 10px;
  border-radius: 20px;
}

code{
  color: #fff;
  background-color: #39475c;
  padding: 6px;
  border-radius: 10px;
}

.ul-code{
  list-style-type:none;
  color: #fff;
  background-color: #39475c;
  padding: 6px;
  border-radius: 10px;
}

.social_footer_ul { display:table; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:rgb(0, 0, 0); border:1px solid rgb(0, 0, 0); padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

#social-fb:hover {
  color: #3B5998;
}
#social-tw:hover {
  color: #4099FF;
}
#social-gp:hover {
  color: #d34836;
}
#social-em:hover {
  color: #f39c12;
}